body {
    background-color: rgb(238, 246, 235);
}



.buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
    margin-bottom: 20px;
    margin-top: 25px;
}

input {
    font-family: 'Cabin Sketch';
}

#result {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Cabin Sketch';
}

header {
    font-family: 'Cabin Sketch';
    color: rgb(63, 141, 107);
    display: flex;
    justify-content: center;
}